
h1 {
    text-align: center;
    padding: 40vh 0 0 0;
    font-size: 20vh;
    color: whitesmoke;
}

#subtitle {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}

#signIn {
    float: right;
    padding: 16px 16px;
  }
  
#bg {
    background-image: url('../public/images/giphy.gif');
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#about {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 30%;
}

#home {
    
    height: 100vh;
    width: 100vw;
}