body {
    background-image: url('../../public/Images/download.jpg');
  }

h1 {
    text-align: center;
    padding: 50vh 0;
    font-size: 15vh;
}

#signIn {
    float: right;
    padding: 16px 16px;
  }
  
#background {
    background-image: url('../../public/Images/download.jpg');
    position: fixed;
    height: 100 vh;
    width: 100 vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}